<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pico.css">
    <title>TEMPLATE</title>
</head>

<body>
    <div class="container">
        <article>
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('dashboard') }}">dashboard</a></li>
                </ul>
            </nav>
        </article>
    </div>

    {% block content %}
    {% endblock %}
    <div class="container">
        <article style="text-align: center;">
            <a href="https://github.com/Hatchi-Kin/auth-roomba"><img src="static/github.png" alt="github.png" style="width: 50px;"></a>
        </article>
    </div>

</body>

</html>